.card {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
}

.card-img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}